/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.container {
  border: var(--border);
  background-color: var(--color-light);
  inline-size: var(--container-width);
}

.page {
  padding-block: 100px;
  color: var(--color-dark);
  font-family: var(--font-family-base), sans-serif;
  background-image: var(--page-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-regular);
}

.header {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 0 auto;
  margin-block-end: 98px;
  padding: var(--header-padding);
  font-family: var(--font-family-accent), fantasy;
  text-align: center;
  text-transform: uppercase;
}

.header__logo {
  font-size: var(--font-size-logo);
}

.header__title {
  font-size: var(--font-size-title);
}

.cards__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  margin-block-end: 50px;
}

.cards__list-item {
  max-inline-size: 700px;
}

.card {
  min-inline-size: min-content;
}

.card__title {
  padding: 4.5px 10px;
  font-size: 18px;
  font-variation-settings: "wght"var(--font-weight-bold);
}

.card__image-wrapper {
  position: relative;
  border-block: var(--border);
  inline-size: 100%;
}

.card__watermark {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--font-family-accent), fantasy;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--color-light),
    0 1px var(--color-light),
    1px 0 var(--color-light),
    0 -1px var(--color-light);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px var(--color-light)) or (-webkit-text-stroke: 1px var(--color-light)) {
  .card__watermark {
    -webkit-text-stroke: 1px var(--color-light);
    text-stroke: 1px var(--color-light);
  }
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.card__image_prep {
  filter: contrast(1.15) saturate(1.2);
}

.card__image_grayscale {
  filter: grayscale(0.85);
}

.card__image_saturate {
  filter: saturate(3);
}

.card__image_hue {
  filter: hue-rotate(30deg);
}

.card__image_invert {
  filter: invert(80%);
}

.card__image_sepia {
  filter: sepia(0.9);
}

.card__image_blur {
  filter: blur(5px);
}

.card__image_multy {
  filter: sepia(0.2) hue-rotate(180deg) saturate(0.7) brightness(1.08) contrast(0.95);
}

.card__content {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 25px;
}

.card__content-text {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  font-size: 18px;
  line-height: 1.17;
}

.card__content-buttons {
  display: flex;
  justify-content: end;
  column-gap: 5px;
  max-block-size: 38px;
}

.button {
  position: relative;
  border: var(--border);
  color: var(--color-light);
  background-color: var(--color-light);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  max-block-size: 38px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--color-dark);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: var(--color-dark);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  padding-block: 9px;
  min-inline-size: 130px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0 0 0 / 0);
  padding: 0;
  background-color: var(--color-light);
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: rgb(0 0 0 / 1);
}

.sparks {
  opacity: 0;
}

.button__text {
  position: relative;
  z-index: 100;
  font-family: var(--font-family-accent), fantasy;
  font-size: 14px;
  line-height: 0.9;
  mix-blend-mode: difference;
}

.save__button {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin: 0 auto;
  padding: 15px 20px;
  max-block-size: none;
}

.floppy-image {
  position: relative;
  z-index: 1;
  aspect-ratio: 1 / 1;
  mix-blend-mode: normal;
}

.button .floppy-image {
  mix-blend-mode: difference;
}

.floppy-image_small {
  inline-size: 21px;
}

.floppy-image_large {
  inline-size: 39px;
}

.popup {
  display: none;
}

.popup[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 30px 20px;
  padding: 30px;
  max-inline-size: 353px;
}

.popup[open]::backdrop {
  opacity: 0.75;
  background-color: var(--color-dark);
}

.popup__button {
  grid-column: 1 / -1;
  padding: 9px 17px;
}

.popup__text {
  font-family: var(--font-family-accent);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .save__button {
    flex-direction: column;
    row-gap: 8px;
    padding: 17px 20px;
  }

  .floppy-image_small {
    width: 28px;
  }

  .popup[open] {
    padding: 30px 40px;
    max-inline-size: 341px;
  }
}