/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {

  --font-family-base: "Inter-Variable";
  --font-family-accent: "Press Start 2P";

  --font-weight-regular: 410;
  --font-weight-bold: 715;

  --page-gradient:
    repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a
    );
  
  --container-width: clamp(375px, 100%, 700px);
  --color-light: #fff;
  --color-dark: #000;

  --border: 2px solid var(--color-dark);

  --font-size-logo: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  --font-size-title: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  --header-padding: clamp(7.52rem, 6.7788rem + 3.0769vw, 8.025rem) 0;

  --contour-color: var(--color-dark);
  --animation-fill-color: #f00;
}